confluent-kafka
rich
supervision==0.22.0
tqdm
python-dotenv
numpy<2.0.0
scikit-learn
minio
requests
pytz
Pillow<10.0.0
psycopg2-binary
ultralytics
redis
msgpack
websockets
pymongo
packaging
pyparsing
six
pyyaml