uvicorn[standard]
fastapi
schedule
rich
black
psycopg2-binary
python-dotenv
confluent_kafka
pytz
pyyaml
ruamel.yaml
tzlocal
unidecode
psutil
py3nvml
orjson
requests
msgpack
python-multipart
pymongo
python-dotenv==1.0.1
